*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
}



.container{ 
    display: flex;
    flex-direction: column;
    background-color: rgb(175, 173, 173);
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    width: 400px;
    margin: auto;
    margin-top: 20px;
} 
.card-body{
    background-color: #24303c;
    border-radius: 5px;
    padding: 30px;
    margin: auto;
    width: 400px;
    margin-top: 100px;
    color: white; 
    font-family: 'calibri';
    box-shadow: 7px 13px 37px #000;

   


}

#btnCrear{
    background-color: royalblue;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
    width: 100px;
    margin: auto;
    margin-top: 20px;
    cursor: pointer;
    font-size: 10px  
}



